<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:jsf="http://xmlns.jcp.org/jsf"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <head jsf:id="head">
        <title>Cadastro de Curso</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
        <link rel="stylesheet" href="style.css"></link>
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    </head>
    <body>
        <form jsf:id="form" jsf.prependId="false" >
            <filedset>
                <div class="container form-container">
                    <legend>Cadastro de Curso</legend>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="nomeCurso">Nome</label>
                                <input class="form-control" type="text" jsf:id="nomeCurso"
                                   jsf:value="#{beanCurso.curso.nome}"
                                   placeholder="Digite o nome do curso" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label for="qtdSemstre">Número de Semestres</label>
                            <input class="form-control" type="number" jsf:id="qtdSemstre"
                           jsf:value="#{beanCurso.curso.qtdSemstre}"
                           placeholder="Digite o número de semestres" />
                        </div>
                    </div>
                    
                    <a href="#" class="btn btn-primary"
                       jsf:action="#{beanCurso.inserir()}">
                        Salvar
                    </a>
                    
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">Código</th>
                                        <th scope="col">Nome</th>
                                        <th scope="col">Qtd. Semestre</th>
                                        <th scope="col">Ações</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <ui:repeat var="curso" value="#{beanCurso.listar()}">
                                        <tr>
                                            <td scope="row" >#{curso.id}</td>
                                            <td>#{curso.nome}</td>
                                            <td>#{curso.qtdSemstre}</td>
                                            <td>
                                                <a href="#" class="btn btn-danger"
                                                   jsf:action="#{beanCurso.excluir(curso.id)}">
                                                     Excluir
                                                 </a>
                                            </td>
                                        </tr>
                                    </ui:repeat>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </filedset>
            <fieldset>
                <div class="container form-container">
                    <legend>Cadastro de Disciplinas</legend>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="nomeDisciplina">Nome</label>
                            <input class="form-control" type="text" jsf:id="nomeDisciplina"
                           jsf:value="#{beanDisciplina.disciplina.nome}"
                           placeholder="Digite o nome da disciplina" />
                        </div>
                        <div class="col-md-3">
                            <label for="nSemestre">Número de Semestres</label>
                            <input class="form-control" type="number" jsf:id="nSemestre"
                           jsf:value="#{beanDisciplina.disciplina.semstre}"
                           placeholder="Semestre" />
                        </div>
                        <div class="col-md-3">
                            <label for="curso">Curso</label>
                            <h:selectOneMenu class="form-control" id="curso" value = "#{beanDisciplina.disciplina.idCurso}">
                                <f:selectItem itemValue = "" itemLabel = "Selecione ..." />
                                <f:selectItems value="#{beanCurso.listar()}" var="curso" itemLabel="#{curso.nome}" itemValue="#{curso.id}" />
                            </h:selectOneMenu>
                        </div>
                    </div>
                    <br/>
                    <a href="#" class="btn btn-primary"
                       jsf:action="#{beanDisciplina.inserir()}">
                        Salvar
                    </a>
                    
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Código</th>
                                        <th>Nome</th>
                                        <th>Semestre</th>
                                        <th>Curso</th>
                                        <th>Ações</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <ui:repeat var="disciplina" value="#{beanDisciplina.listar()}">
                                        <tr>
                                            <td>#{disciplina.id}</td>
                                            <td>#{disciplina.nome}</td>
                                            <td>#{disciplina.semstre}</td>
                                            <td>#{disciplina.idCurso}</td>
                                            <td>
                                                <a href="#" class="btn btn-danger"
                                                   jsf:action="#{beanDisciplina.excluir(disciplina.id)}">
                                                     Excluir
                                                 </a>
                                            </td>
                                        </tr>
                                    </ui:repeat>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="container form-container">
                    <legend>Cadastro de Questões</legend>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="descrQuestao">Descrição</label>
                            <input class="form-control" type="text" jsf:id="descrQuestao"
                           jsf:value="#{beanQuestoes.questoes.descricao}"
                           placeholder="Digite a questão" />
                        </div>
                        <div class="col-md-3">
                            <label for="idDisciplina">Disciplina</label>
                            <h:selectOneMenu class="form-control" id="idDisciplina" value = "#{beanQuestoes.questoes.idDisciplina}">
                                <f:selectItem itemValue = "" itemLabel = "Selecione ..." />
                                <f:selectItems value="#{beanDisciplina.listar()}" var="disciplina" itemLabel="#{disciplina.nome}" itemValue="#{disciplina.id}" />
                            </h:selectOneMenu>
                        </div>
                        <div class="col-md-3">
                            <label for="tipoAvaliacao">Tipo de avaliação</label>
                            <h:selectOneMenu class="form-control" id="tipoAvaliacao" value = "#{beanQuestoes.questoes.tipoAvaliacao}"> 
                                <f:selectItem itemValue = "" itemLabel = "Selecione ..." />
                                <f:selectItem itemValue = "P1" itemLabel = "Primeira Avaliação (P1)" />
                                <f:selectItem itemValue = "P2" itemLabel = "Segunda Avaliação (P2)" />
                                <f:selectItem itemValue = "EX" itemLabel = "Exame" />
                            </h:selectOneMenu>
                        </div>
                    </div>
                    <br/>
                    <a href="#" class="btn btn-primary"
                       jsf:action="#{beanQuestoes.inserir()}">
                        Salvar
                    </a>
                    
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Questão</th>
                                    <th>Disciplina</th>
                                    <th>Tipo</th>
                                    <th>Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                                <ui:repeat var="questoes" value="#{beanQuestoes.listar()}">
                                    <tr>
                                        <td>#{questoes.id}</td>
                                        <td>#{questoes.descricao}</td>
                                        <td>#{questoes.idDisciplina}</td>
                                        <td>#{questoes.tipoAvaliacao}</td>
                                        <td>
                                            <a href="#" class="btn btn-danger"
                                               jsf:action="#{beanQuestoes.excluir(questoes.id)}">
                                                 Excluir
                                             </a>
                                        </td>
                                    </tr>
                                </ui:repeat>
                            </tbody>
                        </table>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </body>
</html>

 