<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Nome</title>
    </h:head>
    <h:body>
        <h:form>
            Nome: <h:inputText value="#{nomesBean.nome}"/> <br/>
            <h:commandButton value="Adicionar" action="#{nomesBean.adicionar()}"/> <br/>
            <ol>
                <ui:repeat var="nome" value="#{nomesBean.nomes}">
                    <li>#{nome}</li>
                </ui:repeat>
            </ol>
        </h:form>
    </h:body>
</html>

