<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Olá</title>
    </h:head>
    <h:body>
        <h:form>
            <h1>Olá #{olaBean.nomeCompleto}</h1>
            Nome: <h:inputText value="#{olaBean.nome}" />
            <br/>
            SobreNome: <h:inputText value="#{olaBean.sobrenome}" />
            <br/>
            <h:commandButton value="Dizer olá" action="#{olaBean.dizerOla()}" />
        </h:form>
    </h:body>
</html>

